In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import math
from word2number import w2n

In [4]:
df = pd.read_csv("../data/homeprices_multi_variable.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [6]:
df.bedrooms.fillna(median_bedrooms, inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [8]:
reg.predict([[3300, 2, 23]])

/Users/Wiggum/Documents/Programming/Machine Learning/env/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([563577.30853177])

In [9]:
reg.coef_
m1 = reg.coef_[0]
m2 = reg.coef_[1]
m3 = reg.coef_[2]
int(m1), int(m2), int(m3)

(112, 23388, -3231)

In [10]:
b = reg.intercept_
b

221323.00186540408

In [11]:
y = m1 * 3300 + m2 * 2 + m3 * 23 + b
y

563577.3085317686

In [12]:
# Exercise

In [27]:
df = pd.read_csv("../data/hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [32]:
#df.experience = df.experience.fillna("zero", )
#df.experience = df.experience.apply(w2n.word_to_num)
df.experience

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: int64

In [33]:
median_test_score = math.floor(df['test_score(out of 10)'].median())
median_test_score

8

In [36]:
df['test_score(out of 10)'].fillna(median_test_score, inplace=True)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [37]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], df['salary($)'])

LinearRegression()

In [39]:
reg.predict([[2,9,6]])

/Users/Wiggum/Documents/Programming/Machine Learning/env/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])